body {

	background-image: url("img/bgpattern.jpg");
	background-color: rgb(0, 143, 0);

}

.center {

	text-align: center;

}

p {

	color: white;
	font-style: italic;

}

.adultGame {

	display: none;
	text-align: center;

}

.dice {

	padding: 2%;
	text-align: center;
	display: none;

}
