.subline {
    text-align: center;
}

.paragraph-responsive {
    padding: 2px;

    & a {
        text-decoration: underline;
    }

    & a:hover {
        color: lightpink;
    }

    & p {
        line-height: normal;
    }
    
    & table {
        width: 100%;

        & td, th {
            border-bottom: 1px solid aliceblue;
            padding: 5px;
        }

        & td:first-child, th:first-child {
            white-space: nowrap;
            /* border-right: 1px solid aliceblue; */
        }

        & td.wrapme-amadeus {
            white-space: unset;
        }
    }
}